{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6 text-center animate__animated animate__fadeInDown">Welcome to the Bl<i class="fas fa-dice-d20"></i>g of Holding</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h2>Speak <b>Friend</b> and Enter...</h2>
            <p> The Blog of Holding is a place for like minded individuals to come and write reviews and opinion pieces
                for all things video game and fantasy related. </p>
            <p> Be it World of Warcraft, Pokémon or Dungeons and Dragons, we got a fix for your itch. </p>
            <p> Not seeing what youre looking for? Create it! Contribute content for whatever gaming, fantasy, anime and
                overall general nerdy heart desires! </p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <h2>Its Dangerous to go Alone</h2>
            <p>Community interaction is heavily encouraged!</p>
            <p>Create an account to allow commenting on post and begin interacting with people all over the world. </p>
        </div>
    </div>
    <br>

</div>
</div>