{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6">WELCOME TO PROJECT 2!</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h2>Table of Coding/Technical Requirements</h2>
            <p>The following are the technical requirements for Project 2. </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Requirement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>Must use a Node and Express web server</td>
                    </tr>
                    <tr>
                        <td>Must be backed by a MySQL database with a Sequelize ORM</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Must have both GET and POST routes for retrieving and adding new data</td>
                    </tr>
                    <tr>
                        <td>Must be deployed using Heroku (with data)</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Must utilize at least one new library, package, or technology that we haven’t discussed</td>
                    </tr>
                    <tr>
                        <td>Must have a polished front end/UI</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Must have a folder structure that meets the MVC paradigm</td>
                    </tr>
                    <tr>
                        <td>Must meet good-quality coding standards (indentation, scoping, naming, etc.)</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Must protect API keys in Node with environment variables</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h2>Table of Nice to Haves</h2>
            <p>The following are the nice to haves for Project 2. If you have the time, these will add tremendous value
                and help
                you learn and make bigger and better things. However, the above table is the higher priority!</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Requirement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>Utilize Handlebars for server-side templating</td>
                    </tr>
                    <tr>
                        <td>Incorporate authentication (JSON Web Tokens, sessions, etc.)</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Use an existing public dataset to power the database</td>
                    </tr>
                    <tr>
                        <td>Create a migration strategy for sharing data across team members, e.g., a seed/schema.sql
                            file</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h2>Table of Presentation Requirements</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Requirement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>Your application’s overall concept</td>
                    </tr>
                    <tr>
                        <td>The motivation for your application’s development</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Your design process</td>
                    </tr>
                    <tr>
                        <td>Sometimes, talking intelligently about tech > doing tech.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>